{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/view.webp')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>We wish to extend our sincere gratitude to our supervisor, <b>Dr. V. KAMAKSHI
                            PRASAD</b>, Professor of the Department, for being a driving force all through the way.
                            This project would not be so smooth and so interesting without his encouragement.
                            We would also like to thank our mentor,<b>Dr. Ch. Mahesh</b>, Airport Director,
                            Kalaburagi Airport and <b>Dr. Deepudev Shahadevan</b> – Professor at Emirates
                            Aviation University.</p><br>
                            <p>
                            We also wish to express our gratitude to <b>Dr. D. Vasumathi</b>, Professor and Head,
                            Department of CSE for providing necessary computing facilities. We are indebted to
                            the Department of Computer Science & Engineering, JNTUH for providing us with all
                            the required facilities to carry out our project work in a congenial environment.
                             We also extend our gratitude to the CSE Department staff for providing necessary
                            support from time to time whenever requested.
                            </p>
                            <p>
                            
                            
                             CH. DINESH <br>
                             M. DINESH <br>
                             E. SIDDHU <br></p>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p> -->
                    </div>
                </div>
            </div>
        </main>
        
        {% endblock %}